p{
    color: rgba(105, 109, 75, 0.959);
    font-size: 35px;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    line-height: 1.6;
    border: solid rgb(107, 96, 60);
    background-color: rgba(180, 182, 91, 0.336);

}
#y {
    background-color: rgb(97, 17, 17);
}
#a {background-color: rgba(228, 178, 120, 0.466);
}
#b {color: #3c423d;;
}
#b {background-color: rgb(167, 154, 127);
}
#c {background-color: #f7f0b2;
}
#f {background-color: rgb(177, 226, 162);
}   
body{
    background-color: rgba(196, 172, 211, 0.295);
}
#g {background-color: rgb(195, 195, 240);
}
#v {background-color: rgb(177, 226, 162);
}
#z {background-color: rgb(167, 154, 127);
}
#z {color: #3c423d;;
}
#z {background-color: #f7f0b2;
}
h1 {
    text-align: center;
}
#n {
    background-color: rgb(233, 211, 149);
}
#m {
    background-color: rgba(85, 255, 33, 0.336);
}
#p {
    background-color: rgb(195, 195, 240);
}
#u {
    background-color: rgba(252, 201, 63, 0.596);
}
#y {
    background-color: rgba(255, 133, 63, 0.507);
}
#z {color: #0f0f0f;;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}